# Ignore everything by default
/*

# VS Code workspace file
*.code-workspace

# Python cache
**/__pycache__
**/*.pyc

# Only track these folders
!/Plugins
!/Tools

# Ignore Binaries and Intermediate inside Plugins
/Plugins/**/Binaries
/Plugins/**/Intermediate

# Ignore Tools/Python/Libs
/Tools/Python/Libs
