# Unreal Engine
Binaries/
Build/
Intermediate/
Saved/
DerivedDataCache/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.suo
*.xcworkspace
*.xcodeproj

# Visual Studio
.vs/
*.user
*.vcxproj
*.vcxproj.filters
*.sln

# OS
Thumbs.db
.DS_Store
